@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* Fonts */
    --title: 'barlow condensed', serif;
    --main-font: 'Montserrat', sans-serif;

    /* Colors */
    --background: #262626;
    --blue: #0d6efd;
    --black: #000;
    --peach: #FCDE9C;
    --white: #fff;
    --tan: #CCAD8F;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--peach);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icons {
    font-size: 3rem;
    margin: .5rem .5rem;
}



/* Header  */
.navbar {
    background-color: var(--peach) !important;
    box-shadow: var(--smal-box-shadow) !important;
}

a.nav-links {
    color: var(--black);
}

img.logo {
    width: 10.75rem;
    height: 6rem;
    border-radius: 5px;
}

.active {
    border-bottom: 2px solid var(--blue) !important;
    font-weight: 500;

}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* Recipe */

.card {
    height: 90%;
    margin-top: 1rem;
}

.recipes {
    text-decoration: none;
    color: var(--black);
}

.recipes:hover {
    cursor: pointer;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.ingredients,
.instructions,
.recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic {
    width: 50%;
    height: auto;
}

.recipe-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--white);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--border);
    box-shadow: var(--smal-box-shadow);
    max-height: 800px;
}

a.img-container:hover {
    color: var(--tan);
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #000000c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 40em) {
    .form {
        width: 50%;
    }

    .recipe-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 298%;
    }
}


@media screen and (min-width: 62.5em) {

    .main-title {
        width: 50%;
    }

    .recipe-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .recipe-img {
        width: 40%;
        margin: 0 auto;
    }

    .recipe-detail {
        width: 60%;
        padding: 2rem;
    }

    .recipe-container {
        flex-direction: row;
    }

    .ingredients {
        width: 33.33%;
    }

    .instructions {
        width: 66.66%;
    }
}